* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
    font-weight: 800;
    font-size: 45px;
}

.btn-primary {
    height: 64px;
    padding: 18px 35px 19px 36px;
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    align-items: center;
}

.btn-primary-2 {
    height: 64px;

    padding: 19px 23px 18px 24px;
    background: #FFF8F3;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    align-items: center;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Header and Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 230px 0 226px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    color: #181818;

}


nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Bannner Style */

.banner {
    display: flex;
    margin: 50px 230px 0 226px;
    align-items: center;


}

.banner-title {
    color: #181818;
    font-weight: 700;
    font-size: 65px;
}

.banner-subtitle {
    color: #474747;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}

/* About section  */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 157px 131px 156px;
}

.section-title {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;
}

.info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;

}

/* My Skills section */
.my-skill {
    margin-top: 130px;
}

.skills-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skills {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
}

/* Resume section styles */
.resume-section {
    margin-top: 130px;
}

.resume-content {
    display: flex;
    margin-top: 113px;
    gap: 71px;
}

.resume-title {
    color: #474747;
    font-weight: 700;
    font-size: 30px;

}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title {
    margin-top: 30px;

    color: #474747;
    font-weight: 700;
    font-size: 25px;
}

.sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.description {
    color: #757575;

}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}